.gh,
#info_counter,
#info_debug {
	display: none;
}

#background {
	z-index: 10;
	background-color: rgb(37, 27, 40);
	height: 100%;
	width: 100%;
	position: absolute;
}

.runner-container,
#wrapper {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

.runner-container {
	display: flex;
	justify-content: center;
	height: 100vh !important;
	width: 100vw !important;
	z-index: 11;
}

.runner-canvas {
	height: 40vh !important;
	width: calc(40vh * 4) !important;
}

#wrapper {
	z-index: 12;
	display: flex;
	align-items: end;
	justify-content: end;
}

#canvas {
	height: 50vh !important;
	width: calc(50vh * 16 / 9) !important;
	background-color: rgba(128, 128, 128, 0.5);
}

#disable-camera {
	position: absolute;
	height: 7vh;
	width: 7vw;
	background-color: rgb(61, 141, 61);
	z-index: 15;
	top: 50vh;
	right: calc(50vh * 16 / 9 - 7vw);
	line-height: 1rem;
	color: white;
}

.disabled {
	background-color: rgb(175, 38, 59) !important;
}

#difficultyContainer {
	background-color: brown;
	display: flex;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 15;
	width: 45vw;
	justify-content: space-between;
	align-items: center;
	height: 7vh;
	font-size: x-large;
	padding-inline: 2rem;
	font-weight: bolder;
	border-top-right-radius: 2rem;
}

#difficultyChoices > span {
	margin-inline: 1rem;
}
#difficultyChoices > button {
	padding-inline: 0.5rem;
	border-radius: 1rem;
	min-width: 3rem;
}
